[MASTER]
# Pylint configuration file

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=C0114, C0115, C0116  # Disable missing module, class, and function docstrings

[MASTER]
# Specify a list of modules or packages to be ignored
ignored-modules=tests

[DESIGN]
# Maximum number of arguments for a function/method
max-args=5

[TYPECHECK]
# List of modules to be treated as "built-in"
extension-pkg-whitelist=flask

[FORMAT]
# Allow the use of trailing commas in function calls
allow-trailing-comma=yes